
#The slash symbol (/) represents a directory separator. The slash at the beginning of a pattern is relative to the directory where the .gitignore resides.
TODO
.settings
upload.sh
.project
images
findAll.sh
.cproject
.classpath
backup.sh
.git
keystore.sh
compareAllFiles.sh
WorkInProgress
.externalToolBuilders/
classes

